@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@font-face {
    font-family: "DMserif";
    src: url(./assets/fonts/DMSerifDisplay-Regular.ttf);
}

/* l'étoile donne du style à tout les éléments */
/* *{
    margin: 0;
    padding: 0;
} */

body{

    font-family: "DMserif", verdana; 
    background: url(./assets/img/BCKgrd.png) center/cover;
    min-height: 100vh;
}
/* mise en forme texte */
h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    /* tailles polices en rem VW permet d'être responsive */
    font-size:8vw;
    text-shadow:5px 4px 5px #0000005e;
    color: blueviolet;
    text-decoration: underline;
    font-family: 'Oswald', sans-serif;
}
/* creation boites */
main{
    min-height: 500px;
    width: 90%;
    background: rgba(190, 177, 190, 0.534);
    /* cntrage boite */
    margin: 0 auto;
    border: 2px solid purple;
    border-radius: 20px; 
    /* en donnant 4 valeurs les angles sont différents */
    box-shadow: 7px 10px 20px 7px #a6dce3;
    padding: 15px;
}
h2{
    margin: 0;
}
/* ajouter des class avec des virgules donne style à tous */
.flexbox, .grid, .absolute {
    border: 2px solid purple;
    border-radius: 20px;
    padding: 10px;
    margin-top: 20px;
    min-height: 150px;
}
/* flexbox */
/* sert à répartir équitablement des éléments sur la page */

.flexbox ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.flexbox li{

    list-style: none;
    height: 160px;
    width: 160px;
    margin: 10px;
    background: rgba(153, 168, 177, 0.486);
    /* centrer un unique élément verticalement et horizontalement */
    display: flex;
    justify-content: center;
    align-items: center;

}
/* GRID */
.grid-container{
    display: grid;
    grid-template-columns: 30% 70%;
}
.grid img{
    width: 80%;
    margin-top: 20px;
    display: block;
margin: auto;
    
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "i1 i2"
    "ta ta"
    "vi bt";
}
input, textarea{
    margin: 5px;
    border: 1px solid purple;
    padding: 10px;
    font-size: 1.1rem;
    font-family: DMserif;
    border-radius: 5px;
    
}
textarea{
    grid-area: ta;
    height: 40px;
    resize: none;
}
#btn-submit{
    grid-area: bt;
    cursor: pointer;
    background-color: #a6dce3;
    transition: 0.2s;

}
#btn-submit:hover{
    background-color: rgb(180, 104, 174);
    color: aliceblue;
}
/* ABSOLUTE */
/* sans élément en raletaive l'élément en absolute l'est par rapport au body */
/* il faut mettre une position relative au parent pour contraindre l'élément en absolute sans ses frontiéres */
.absolute{
    position: relative;
}
#circle1{
    height: 80px;
    width: 80px;
    background-color: rgb(144, 187, 187);
    position: absolute;
    border-radius: 150px;
    top: 0;
    right: 0;

}
#circle2{
    height: 40px;
    width: 40px;
    border-radius: 150px;
    background-color: teal;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
/* RESPONSIVE */
@media screen and (max-width: 900px) {
    .grid-container{
        display: block;
    }
    .grid-container img{
        width: 40%;
    }
    
}
@media screen and (max-width: 610px){
    .flexbox ul{
        flex-direction: column;
        align-items: center;
    }
    form{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
       "il"
       "i2"
       "ta"
       "bt" ;
    }
    input, textarea{
        font-size: 0.8rem;
    }
}